@import "fonts";
@import "base";
@import "vars";

$body-bg: $bg_color;
$body-color: $dark_gray;
$font-family-base: "Arial",
sans-serif;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.active {
  background-image: url("../images/bg-hover.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}

@include media-breakpoint-down(md) {
  .active {
    background-color: $gray;
    background-image: none;
  }
}

.top-header {
  &__left-block {
    font-size: 12px;

    @include media-breakpoint-only(sm) {
      display: flex;
      justify-content: center;
    }

    svg {
      fill: $light_gray;
    }
  }

  &__right-block {
    @include media-breakpoint-only(sm) {
      display: flex;
      justify-content: center;
    }
  }

  &__mail {
    &_fill {
      svg {
        fill: $accent;
      }
    }
  }

  &__menu {
    font-size: 11px;

    &-item {
      border-right: 1px solid $light_gray;

      @include media-breakpoint-down(xs) {
        border: none;
      }

      &:last-child {
        border: none;
      }

      a {
        color: $dark_gray;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.header {
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
  }

  &__avatar-block {
    flex: 0 0 100px;
  }

  &__nav-block {
    @include media-breakpoint-down(md) {
      width: auto !important;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    color: $accent;
  }

  &__navigation {
    padding: 0;
    border-radius: 5px;
    background: rgb(202, 202, 202);
    background: linear-gradient(0deg,
        rgba(202, 202, 202, 1) 0%,
        rgba(230, 230, 230, 0.75) 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    &_item {
      font-size: 13px;
      padding: 10px 15px 5px;
      border-right: 1px solid $light_gray;

      @include media-breakpoint-down(xs) {
        border: none;
      }

      &:last-child {
        border: none;
      }

      a {
        color: $dark_gray;
      }

      &:hover {
        background-image: url("../images/bg-hover.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 4px;
      }

      @include media-breakpoint-down(md) {
        &:hover {
          background-color: $gray;
          background-image: none;
        }
      }

    }
  }

  &__dropdown-button {
    background-color: transparent !important;
    outline: none !important;
    color: $dark_gray;
    font-weight: normal !important;
    line-height: 0 !important;
    height: auto;

    @include media-breakpoint-down(md) {
      height: 35px !important;
      padding: 0 !important;
    }

    &:hover {
      filter: none;
    }
  }
}

.body{
  &__card{
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    border: 2px solid $white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    &:after {
        content: "";
        background-color: $dark_gray;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    &__header {
      padding-left: 0;
      padding-bottom: 0;
      margin-left: 50px;
      margin-right: 10px;
      background: none;
      border-bottom: 1px solid $accent;
      font-size: 24px;
      color: $accent;
        &:before {
          content: "";
          background-image: url("../images/flag.png");
          background-repeat: no-repeat;
          top: -2px;
          left: 12px;
          bottom: 0;
          right: 0;
          position: absolute;
      }
      &_icon{
        position: absolute;
        top: 18px;
        left: 20px;
      }
    }

    &__body {
      height: 320px;
    }

    &__footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: right;
      font-size: 12px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, .7) 50%,
              rgb(255, 255, 255));
      border: none;
    }

    &__table {
      font-size: 12px;
    }
  }
}

.footer {
  font-size: 11px;
  color: #676767;
}

.exchange{
  font-size: 13px;
  height: 170px;
}

.adv{
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 12px;
  font-weight: bold;
  color: $white;

  &_footer{
    background-color: $accent;
  }
}